body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background: url('./images/francesco-ungaro-1VcAWoNIERs-unsplash.jpg');
    background-size: auto;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul{
    height: 30vh;
    width: 87vw;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 4em;
}
h1{
    color: pink;
    font-size: 4em;
}
a{
    text-decoration: none;
    text-decoration: none;
    border: 3px solid pink;
    border-radius: 10px;
    background-color: none;
    color: pink;
    width: 22%;
    text-align: center;
}