body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/pexels-tara-winstead-6479594.jpg');
    background-size: 100% 100%;
    
}
.container{
    width: 40vw;
    height: 64vh;
    /* background-color: rgb(238, 234, 229); */
    border: 10px solid rgb(97, 42, 2)
}
.header h2{
    text-align: center;
    color: pink;
}
.header ul{
    display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 40vh;
list-style: none;
}
.header ul li{
    list-style: none;
    font-size: 2em;
}
button{
    width: 100%;
    height: 8vh;
    background-color: chocolate;
    font-size: 2em;
    font-weight: bold;
}
button:hover{
    background-color: rgb(97, 42, 2);
    color: white;
}
.header ul li:hover{
    background-color: rgb(97, 42, 2);
    color: white;
}
button:focus{
    outline: none;
    background-color: rgb(54, 23, 1);
}