body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/francesco-ungaro-1VcAWoNIERs-unsplash.jpg');
    background-size: 100% 100%;
    flex-direction: column;
justify-content: space-between;
    
}
a{
    width: 100%;
text-decoration: none;
font-size: 2em;
color: pink;
}
.container{
    width: 71%;
    height: 74%;
    /* background-color: rgb(238, 234, 229); */
    border: 10px solid rgb(126, 6, 62);
    display: flex;
flex-direction: column;
justify-content: space-between;
margin: 2%;
    
}
.header h2{
    text-align: center;
    color: pink;
    font-weight: bold;
}
.header ul{
    display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 40vh;
list-style: none;
}
.header ul li{
    list-style: none;
    font-size: 2em;
    font-weight: bold;
    color: pink;
}
button{
    width: 100%;
    height: 73%;
    background-color: rgb(255, 192, 252);
    font-size: 2em;
    font-weight: bold;
}
button:hover{
    background-color: rgb(126, 6, 62);
    color: black;
}
.header ul li:hover{
    background-color: rgb(126, 6, 62);
    color: black;
}
button:focus{
    outline: none;
    background-color: rgb(126, 6, 62);
}